div.headfoot {
border: medium solid black;
}
div.main {
border: medium solid black;
}
.w60 {
width: 90%;
background-color: white;
box-shadow: #333 0 0 22px;
font-family: bookman old style;
font-size: 1.7em;
}
.logo {
height: 150px;
width: 150px;
background-image: url(logo.jpg);
background-position: center;
background-repeat: no-repeat;
}
.textlogo {
letter-spacing: 4px;
}
.signin {
padding-top: 30px;
padding-left: 75px;
}
.mybtn {
font-size: 0.9em;
}
.main-menu {
  display: inline-block;
}
.main-menu ul {
  padding-left: 15px;
}
.main-menu ul li {
  display: inline-block;
  list-style: none;
  position: relative;
  transition: .5s;
  line-height: 50px;
}
.main-menu li a {
  padding: 0 57px;
  display: inline-block;
  text-decoration: none;
  color: gray;
}
.main-menu ul li:hover, .main-menu ul li.active{
  background-color: #999;
}
.main-menu ul li:hover a, .main-menu ul li.active a{
  color: black;
}

.main-container {
  background-color: gold;
  padding: 30px;
}
.main-container .actions {
  margin: 30px;
}
footer {
  padding: 30px;
}
footer .author {
  float: right;
}